{
	"auig2_accounts": {
		"username@ntu.edu.sg": {
			"auig2_id": "PER2A4XXXX",
			"auig2_password": "XXX"
		},
		"username2@ntu.edu.sg": {
			"auig2_id": "PER2A4XXXY",
			"auig2_password": "XXY"
		}

	},
	"email_account": {
		"email": "username@staff.main.ntu.edu.sg",
		"password": "sample"
	}
}
